        <footer class="HI-footer bg-light">
            <p class="h6 text-center">Terms / Conditions & Privacy Policy ©Copyright <span class="hi-text-red">HI</span><span class="hi-text-blue-primary">Card</span></p>
        </footer>
        <!--scripts js-->
        <script src="./js/jquery-1.11.3.js"></script>
        <script src="./js/fontawesome/js/all.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="./js/jquery-ui.js"></script>
        <script type="text/javascript" src="./js/app.js"></script>
    </body>
</html>