<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title> HICard Network </title>

        <link href="./images/fav/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144"/>
        <link href="./images/fav/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114"/>
        <link href="./images/fav/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72"/>
        <link href="./images/fav/favicon.57x57.png" rel="apple-touch-icon" type="image/png"/>
        <link href="./images/fav/favicon.png" rel="icon" type="image/png"/>
        <link href="./images/fav/favicon.ico" rel="shortcut icon"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--<link rel="stylesheet" href="./css/debug.css"/>-->

        <link rel="stylesheet" href="./css/hi.style.css"/>
        <link rel="stylesheet" href="./css/fontawesome/css/all.min.css"/>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./css/bootstrap-grid.min.css"/>
        <link rel="stylesheet" href="./css/app.css"/>
        <link rel="stylesheet" href="./css/toastr.css"/>
        <link rel="stylesheet" href="./css/select2.css"/>
        <link href="./css/Skeleton loader_files/tailwind.min.css" rel="stylesheet">
        <!-- Main css -->
        <!-- <link rel="stylesheet" href="./jquery-ui-1.12.1/jquery-ui.min.css"> -->
        <style>

            #spinner-back, #spinner-front {
              position: fixed;
              width: 100vw;
              transition: all 2s;
              visibility: hidden;
              opacity: 0;
            }
            #spinner-back {
              z-index: 9990;
              height: 100vh;
              background: rgba(0, 0, 0, 0.5);
            }
            #spinner-front {
              z-index: 99901;
              color: #fff;
              text-align: center;
              margin-top: 50vh;
              transform: translateY(-50%);
            }
            #spinner-back.show, #spinner-front.show {
              visibility: visible;
              opacity: 1;
            }
              
              .image-container {
                      position: relative;
                  }
          
                  .image {
                      opacity: 1;
                      display: block;
                      width: 100%;
                      height: auto;
                      transition: .5s ease;
                      backface-visibility: hidden;
                  }
          
                  .middle {
                      transition: .5s ease;
                      opacity: 0;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      -ms-transform: translate(-50%, -50%);
                      text-align: center;
                  }
          
                  .image-container:hover .image {
                      opacity: 0.3;
                  }
          
                  .image-container:hover .middle {
                      opacity: 1;
                  }
          
          </style>
    </head>
    <body data-menu-collapsed="false">
        <header class="bg-primary fixed-top">
        <div class="container h-100">
            <div class="h-100">
                <nav class="navbar navbar-expand navbar-primary bg-primary h-100">
                    <a class="navbar-brand bg-light h-100 w-25" href="/">
                        <img src="./images/logo_hc_na.png" alt="logo" class="img-fluid w-100">
                    </a>
                    <ul class="navbar-nav w-100 justify-content-end">
                        <!-- <li class="nav-item">
                            <a class="nav-link text-white px-2 search-icon-header" href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white notification-icon-header dropdown notify px-2" id="navbarDropdownMenuLink01" data-toggle="dropdown" aria-haspopup="true" href="#"><i class="far fa-bell"></i></a>
                            <ul class="t-notify dropdown-menu bg-primary"  aria-labelledby="navbarDropdownMenuLink01">
                            <a class="dropdown-item" href="#">item</a>
                            <a class="dropdown-item" href="#">item</a>
                            </ul>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link text-white px-2 name-user" href="#">  </a>
                        </li>
                        <li class="nav-item dropdown" aria-label="Toggle navigation">
                            <a class="navbar-toggle-icon nav-link dropdown more text-white notify px-2" id="navbarDropdownMenuLink02" data-toggle="dropdown" aria-haspopup="true" href="#"><i class="fas fa-ellipsis-v"></i></a>
                            <ul class="t-burger dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink02">
                            <a class="dropdown-item my-account-link-header" href="/settings">My account</a>
                            <a class="dropdown-item" href="/logout">Log out</a>
                            </ul>
                        </li>
                        <button class="btn btn-transparent ml-3 d-block d-md-none" id="btn-toggle-menu-bar"><span class="fa fa-bars text-white"></span></button>
                    </ul>
                </nav>
            </div>
            
        </div>
        </header>