<div class="bg-light" id="menu-bar">
    <div class="container p-2">
    <ul class="nav flex-column flex-md-row justify-content-center">
        <li class="nav-item mx-3">
        <a href="/user_network" class="nav-link text-center active nav-onglet font-weight-medium">Network</a></li>
        </li>
        <li class="nav-item mx-3">
        <a href="/user_facility" class="nav-link text-center nav-onglet font-weight-medium">Facility</a></li>
        </li>
        <li class="nav-item mx-3">
        <a href="/user_provider" class="nav-link text-center nav-onglet font-weight-medium">Provider</a></li>
        </li>
    </ul>
    </div>
</div>